{% extends "kanjis/layout.html" %}

{% block body %}
<h1>About KanjiGen</h1>
<br><br><br>
<h3>Author</h3>
<p class="text_content">KanjiGen was created by Haard Shah, a student from Guru Nanak Institutions Technical Campus, who studied Japanese at RamaKrishna Math's Vivekananda Institute of Other Languages(VIOL).</p>
<h3>Objective</h3>
<p class="text_content">This website was made to encourage students learning Japanese, especially Kanji, to constantly quiz themselves and get better and faster at reading Kanji.  </p>
<h3>Contact Me</h3>
<div id="info_section">
    <a target="_blank" href="https://www.linkedin.com/in/haard-shah-2156b0301/">LinkedIn</a>
    <span class="middot">&#9679;</span>
    <a target="_blank" href="https://github.com/haardshah234">GitHub</a>
    <span class="middot">&#9679;</span>
    <a target="_blank" href="mailto:haard.shah2004@gmail.com">Email</a>
</div>
<br>
<a href="../" id="goback">Go Back</a>
{% endblock %}