{% extends "kanjis/layout.html" %}

{% block body %}
<h1>How to Play:</h1>
<p class="text_content">You will be shown a Kanji. You are expected to write its reading (in most cases Kun-Youmi) as described in Sou-Matome's Nihongo N4-5 Challenge Book. After writing the Japanese reading of the given Kanji, you must write the English meaning of the same. You can Press Enter(/return) or click the submit button to submit your answers.
    You can select a filter based on your requirement. You are expected to finish a chapter in the Jalptap or Soumatome book and then come here to revise and practice the Kanjis you have learnt. You can also set the filter to "Upto" mode, wherein the program will not just ask you for Kanjis in that chapter, but also Kanjis in all the previous chapters of the book from the beginning.
    You will be provided 10 points for guessing the correct Kanji's pronunciation, and 5 points for guessing its meaning, since it is easier to visualise the Kanji's meaning within the Kanji.
</p>
<br>
<a href="../" id="goback">Go Back</a>
{% endblock %}