html {
    background-color: black;
}

body {
    background-color: black;
    color: white;
    font-family: 'BIZ UDGothic', sans-serif;
}

input {
    text-align: center;
}

.push_button:hover {
    opacity: 90%;
}

.push_button:active {
    opacity: 70%;
    scale: 95%;
}

#goback {
    background-color: lightblue;
    border: 3px solid blue;
    color: blue;
    text-decoration: none;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

#form {
    background-color: darkgray;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: max-content;
    font-size: 42px;
}

#form > form > input {
    height: 100%;
    width: auto;
    font-size: 42px;
}

tr:nth-child(odd){
    background-color: lightgray;
    color: black;
}
tr:nth-child(even){
    background-color: rgb(93, 93, 93);
    color: white;
}

#database {
    color: black;
}

.kanji {
    font-size: 40px;
}

td {
    padding: 2px;
}
th {
    padding: 3px;
}

.lander {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    vertical-align: center;
}

#lander {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    vertical-align: center;
}

#lander_text {
    font-size: 80px;
}

#result {
    opacity: 0.85;
    display: flexbox;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 380px;
    height: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgreen; border: 3px solid green; color: green;
    border-radius: 20px;
}

#result:hover {
    scale: 99%;
}

#lsk {
    margin: 16px 0px 0px 0px;
    font-size: 25px;
}

#previous_kanji {
    margin: 0px 0px 0px 0px;
    font-size: 80px;
    font-weight: bold;
}

.ans_head {
    margin: 8px 0px;
}

#your_ans {
    margin: 0px;
    font-size: 15px;
}

#correct_ans {
    margin: 0px;
    font-size: 15px;
}

#quiz_text {
    font-size: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#lander_anchor {
    color: inherit;
    text-decoration: none;
}

#filter_section {
    opacity: 0.85;
    display: flexbox;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 380px;
    height: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black; border: 3px solid rgb(255, 255, 255, 0.5); color: white;
    border-radius: 20px;
    /*background-color: lightgreen;
}

.filter_cell:nth-child(even) {
    background-color: green;*/
}

#filter_section:hover {
    scale: 99%;
}

.filter_cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter_categories {
    font-size: 13px;
    height: max-content;
    margin: 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    padding: 15px;
}

.filter_category {
    border: 2px solid darkgray;
    border-radius: 7px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    overflow-wrap: break-word;
}

.filter_category.active {
    background-color: #c9b7e7; /*#0d6efd*/
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

#options {
    display: flex;
    flex-flow: column;
}

.option {
    display: none;
    width: 100%;
    height: max-content;
}

.option_box {
    border: 2px solid darkgray;
    border-radius: 7px;
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    overflow-wrap: break-word;
}

.option_box:hover {
    scale: 95%;
}

.option_box_disabled {
    border: 2px solid darkgray;
    border-radius: 7px;
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    overflow-wrap: break-word;
    opacity: 0.5;
}

#jlpt_options {
    box-sizing: border-box;
    padding: 0px 19px 10px 19px;
    height: max-content;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
}

#rkmath_options {
    box-sizing: border-box;
    padding: 0px 19px 10px 19px;
    height: max-content;
    width: 340px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    justify-items: center;
}

#jaltap_options {
    box-sizing: border-box;
    padding: 0px;
    width: 340px;
    aspect-ratio: 2/1;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    justify-items: center;
    margin: 0px;
    margin-bottom: 15px;
}

#soumatome_options {
    display: flexbox;
    flex-flow: column;
}

#soumatome_options_table {
    justify-self: center;
    box-sizing: border-box;
    padding: 0px;
    width: 340px;
    aspect-ratio: 1.25/1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    justify-items: center;
    margin: 15px 0px;
}

.table_option {
    border: 2px solid darkgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    width: 100%;
    height: 100%;
}

.table_option:hover {
    scale: 95%;
}

.table_option_disabled {
    border: 2px solid darkgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    width: 100%;
    height: 100%;
}

.table_option_disabled:hover {
    scale: 95%;
}

.table_option_disabled.truly_disabled {
    display: none;
}

#capsule {
    width: 100%;
    height: 30px;
    background-color: none;
    border-radius: 25px;
    display: flex;
    position: relative;
    padding: 0px 5px;
}

#capsule2 {
    width: 100%;
    height: 30px;
    background-color: rgb(79, 79, 79);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

#capsule3 {
    width: 370px;
    height: 30px;
    background-color: none;
    border-radius: 25px;
    display: flex;
    position: relative;
    padding: 0px 5px;
}

#capsule2:hover {
    background-color: #002b6d;
    scale: 97%;
}

.onlyupto {
    background-color: rgb(79, 79, 79);
    width: 50%;
    scale: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    margin: 2px 0px;
    cursor: pointer;
    border: none;
    transition: border 0.2s, background-color 0.2s, font-weight 0.2s;
}

.onlyupto.active {
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    font-weight: bold;
}

#upto_box {
    margin-right: 3px;
}

#n5_box {
    margin-right: 3px;
}

.onlyupto:hover {
    scale: 97%;
    /*background-color: rgb(100, 100, 100);*/
}

#filter_by {
    font-weight: bold;
    color: hsl(0,0,75);
    margin: 7px 0px 12px 0px;
    font-size: 23px;
}

#questionnaire {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#question {
    text-align: center;
    margin-bottom: 0px;
}

#quiz_form {
    height: max-content;
}

#quiz_form > input:not(#ans_submit) {
    background-color: lightgray;
    border: 3px solid darkgray;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 5px;
}

#ans_submit {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background-color: pink;
    border: 3px solid palevioletred;
    color: palevioletred;
    font-weight: bold;
    border-radius: 9px;
}

#points_section {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    height: max-content;
    color: chocolate;
}

#points_box {
    background-color: gold;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 292px;
    border: 3px solid chocolate;
    border-radius: 15px;
}

#points_box:hover {
    opacity: 90%;
}

#points_box:active {
    opacity: 70%;
    scale: 95%;
}

#points {
    margin: 0px;
    font-size: 40px;
}

#ctr {
    margin-top: 0px;
    margin-bottom: 5px;
}